:root {
  --text-color: hsl(0, 0%, 100%);
  --back-color: #282c34;
  --accent-color: #397ddb;
  --accent-color-dark-1: #225797;
  --accent-color-dark-2: #143d70;
  --accent-color-dark-3: #071e33;
  --accent-color-dark-4: #020d17;
  --accent-color-dark-48: hsla(209, 84%, 5%, 0.8);
}

.App {
  text-align: center;
  color: white;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  font-size: 14px;
}

.App-link {
  color: #61dafb;
}

.App-header {
  background-color: var(--accent-color-dark-48);
  display: flex;
  font-size: 14px;
  font-weight: 500;
}

.left {
  display: flex;
}

.right {
  display: flex;
  margin-left: auto;
}

.option {
  padding: 4px 8px;
  cursor: default;
  display: flex;
}

.option:hover {
  background-color: var(--accent-color-dark-3);
}

.option.active {
  background-color: var(--accent-color-dark-1);
}

.App-logo {
  pointer-events: none;
  width: 24px;
  transform: scale(1.5);
}

.battery {
  display:flex;
  height: 10px;
  width: 20px;
  margin: auto 4px;
}

.battery .body{
  outline:.2em solid white;
  height:inherit;
  width:calc(6/7*100%);
  overflow-X:hidden;
}

.battery .charging{
  background-color:white;
  width:100%;
  height:inherit;
  transform: translateX(-40%);
}

.battery .terminal{
  background-color:white;
  height:50%;
  width:calc(1/7*100%);
  transform:translateY(50%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-fade infinite 5s linear;
  }
}


@keyframes App-logo-fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
