:root {
  --text-color: hsl(0, 0%, 100%);
  --back-color: #282c34;
  --accent-color: #397ddb;
  --accent-color-dark-1: #225797;
  --accent-color-dark-2: #143d70;
  --accent-color-dark-3: #071e33;
  --accent-color-dark-4: #020d17;
  --accent-color-dark-5: #010508;

  --settings-panel-color: hsla(209, 84%, 5%, 0.8);
  --settings-dock-size: 64px;
  --settings-dock-color: hsla(209, 76%, 11%, 0.4);
  --settings-menu-color: hsla(206, 78%, 2%, 0.705);
}

.App {
  text-align: center;
  color: white;
  min-height: 100vh;
  max-height: 100vh;
  position: fixed;
  display: flex;
  font-size: 14px;
  width: 100vw;
  z-index: 1;
}

.App-link {
  color: #61dafb;
}

.App-header {
  background-color: var(--settings-panel-color);
  display: flex;
  font-size: 14px;
  font-weight: 500;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.left {
  display: flex;
}

.right {
  display: flex;
  margin-left: auto;
}

.option {
  padding: 4px 8px;
  cursor: default;
  display: flex;
  position: relative;
}

.option:hover {
  background-color: var(--accent-color-dark-3);
}

.option.active {
  background-color: var(--accent-color-dark-1);
}

.option-menu {
  position: absolute;
  top: 28px;
  transform: translateY(-200px);
  transition: transform 0.2s;
}

.option-menu.open {
  transform: translateY(0);
}

.right .option-menu {
  right: 0;
}

.menu {
  background-color: var(--settings-menu-color);
  padding: 32px;
}

.App-logo {
  pointer-events: none;
  width: 24px;
  transform: scale(1.5);
}

.battery {
  display:flex;
  height: 10px;
  width: 20px;
  margin: auto 4px;
}

.battery .body{
  outline:.2em solid white;
  height:inherit;
  width:calc(6/7*100%);
  overflow-X:hidden;
}

.battery .charging{
  background-color:white;
  width:100%;
  height:inherit;
  transform: translateX(-40%);
}

.battery .terminal{
  background-color:white;
  height:50%;
  width:calc(1/7*100%);
  transform:translateY(50%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-fade infinite 5s linear;
  }
}


@keyframes App-logo-fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.dropdown-img {
  transition: transform 0.2s;
}

.dropdown-img.open {
  transform: rotate(180deg);
}

main {
  padding: 32px 16px 48px 16px;
  width: 100%;
  z-index: 5;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 8;
}

.dock {
  padding: 0 12px;
  margin: auto;
  display: flex;
  flex-flow: row;
  background-color: var(--settings-dock-color);
}

.dock .item img {
  width: var(--settings-dock-size);
  height: var(--settings-dock-size);
  z-index: 8;
  margin: 0 4px;
}

.dock .item img:hover {
  transform: scale(1.5);
  transition: transform 0.2s;
}